@import "../../scssMixin/mixin.scss";

.DBN_container{
      transition: inherit;

    .DBN_options_container{
        height: 100vh;
        width: 20vw;
        background: white;
        position: fixed;

        .DBN_Rapidone{
             @include flex;
             justify-content: center;
             align-items: center;
             margin-top:30px;
             padding:20px;
        }
         
        .DBN_icon_container{

          margin-top: 30px;
          transition: inherit;

            .DBN_icon_container_select{
                @include flex;
                justify-content: center;
                align-items: center;
                margin-top:10px;
                cursor: pointer;
                padding:10px;
                border-radius:10px;
                width:200px;
                margin-left:20px;

              .DBN_c{
                @include flex;
                justify-content: center;
                align-items: center;
                padding-right:50px;
              }
            }
            
            .DBN_icon_container_select:hover{
                background:#05006A !important;
                color:#2fdfff !important;
                padding:10px;
                transition:0.3s;
            }
 
            .DBN_icon_container_select_active{
                background:#05006A !important;
                color:#2fdfff !important;
                padding:10px;
                transition:0.3s;
                @include flex;
                justify-content: center;
                align-items: center;
                margin-top:10px;
                cursor: pointer;
                padding:10px;
                border-radius:10px;
                width:200px;
                margin-left:20px;

                .DBN_c{
                    @include flex;
                    justify-content: center;
                    align-items: center;
                    padding-right:50px;
                }    
            }
               
            .DashboardIcon{
                padding-right:20px !important;
            }
            
            .CallReceivedIcon{
                padding-right:20px !important;
            }

            .RedeemIcon{
                padding-right:20px !important;
            }

            .PersonIcon{
                padding-right:20px !important;
            }
       }

      .DBN_logout_container{
          @include flex;
          justify-content:center;
          align-items:flex-end;
          margin-top: 150px;

          .DBN_HelpOutline_container{
            @include flex;
            justify-content: center;
            align-items: center;
            width:150px;
            padding:10px;
            margin-left:20px;
            cursor: pointer;
            margin-top:10px;
          }

          .DBN_HelpOutlineIcon_container{
            @include flex;
            justify-content: center;
            align-items: center;
            padding-right:50px;
            color: black !important;
            opacity: 0.5;

                .HelpOutlineIcon{
                    padding-right:20px !important;
                }
            }

            .DBN_HelpOutlineIcon_container:hover{
                opacity: 0.9;
                transition:0.3s;
            }


          .DBN_ExitToApp_container{
            @include flex;
            justify-content: center;
            align-items: center;
            width:150px;
            padding:10px;
            margin-left:20px;
            cursor: pointer;
            margin-top:10px;
          }

          .DBN_ExitToAppIcon_container{
            @include flex;
            justify-content: center;
            align-items: center;
            padding-right:50px;
            color:black !important;
            opacity: 0.5;

            .ExitToAppIcon{
                padding-right:20px !important;
            }
          }

          .DBN_ExitToAppIcon_container:hover{
            opacity: 0.9;
            transition:0.3s;
          }
      }

    }

}

.DBN_navigation,.nav_bar_Menu_icon_mobile,.DBN_nav_bar_mobile{
  display: none;
}



@include MQ(1227px){
  .DBN_container{
    display: none !important;
  }

  .DBN_navigation{
    position:fixed;
    display: block !important;
    height:12vh;
    top:0;
    background: white ;
    width:100vw;
    transition: 0.5s;
    box-sizing:border-box;
    z-index:3;
    box-shadow:-2px 10px 8px 0px rgba(50, 50, 53, 0.75);
  }

  .DBN_Rapidone_mobile{
    @include flex;
    justify-content:flex-start;
    align-items: center;
    padding:10px;
  }

  .nav_bar_Menu_icon_mobile{
    display: block !important;
    position:absolute;
    cursor: pointer;
    right:40px;
    top:24px;
    opacity:5;
  }
  .icon_color_mobile{
    color: rgb(17, 17, 66) !important;
    font-size:40px !important;
}

.icon_color--clear_mobile{
    color: rgb(17, 17, 66) !important;
    font-size:40px !important;
    animation-name:clear;
    animation-duration:0.5s;
 }

 .DBN_nav_bar_mobile{
  display: block !important;
  position:absolute;
  top:12vh;
  left:0;
  background: white;
  opacity:1;
  width: 50vw;
  height:88vh;
  z-index:3;
  transition:1s;
  border-bottom-right-radius:30px;
  box-shadow: -2px 10px 8px 0px rgba(50, 50, 53, 0.75);
 }

  .DBN_icon_container_mobile{
     display: flex;
     flex-direction: column;
     align-items: center !important;
     margin-top: 50px;
  }

  .DBN_nav_bar_mobile-none{
    display: block !important;
    position:absolute;
    top:12vh;
    left:-600px;
    width: 50vw;
    height:88vh;
    z-index:3;
    background: white;
    opacity:1;
    transition:1s;
    border-bottom-right-radius:30px;
    box-shadow: -2px 10px 8px 0px rgba(50, 50, 53, 0.75);
  }
    .DBN_icon_container_select_mobile{
      @include flex;
      justify-content: center;
      align-items: center;
      margin-top:20px;
      cursor: pointer;
      padding:10px;
      border-radius:10px;
      width:auto;
     

    .DBN_c_mobile{
      @include flex;
      justify-content: center;
      align-items: center;
      padding-right:30px;
    }
  }

  .DBN_icon_container_select_mobile:hover{
    background:#05006A !important;
    color:#2fdfff !important;
    padding:10px;
    transition:0.3s;
  }

  .DBN_icon_container_select_active_mobile{
    background:#05006A !important;
    color:#2fdfff !important;
    padding:10px;
    transition:0.3s;
    @include flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    cursor: pointer;
    padding:10px;
    border-radius:10px;
    width:auto;
    

    .DBN_c_mobile{
        @include flex;
        justify-content: center;
        align-items: center;
        padding-right:30px;
    }    
  }

  .DashboardIcon_mobile{
    padding-right:20px !important;
  }

  .CallReceivedIcon_mobile{
    padding-right:20px !important;
  }

  .RedeemIcon_mobile{
      padding-right:20px !important;
  }

  .PersonIcon_mobile{
      padding-right:20px !important;
  }
   
  .DBN_logout_container_mobile{
        @include flex;
        justify-content:center;
        // align-items:flex-end;
        margin-top: 100px;

        .DBN_HelpOutline_container_mobile{
          @include flex;
          justify-content: center;
          align-items: center;
          width:150px;
          padding:10px;
          margin-left:50px;
          cursor: pointer;
          margin-top:10px;
        }

        .DBN_HelpOutlineIcon_container_mobile{
          @include flex;
          justify-content: center;
          align-items: center;
          padding-right:50px;
          color: black !important;
          opacity: 0.5;

              .HelpOutlineIcon_mobile{
                  padding-right:20px !important;
              }
          }

          .DBN_HelpOutlineIcon_container_mobile:hover{
              opacity: 0.9;
              transition:0.3s;
          }


        .DBN_ExitToApp_container_mobile{
          @include flex;
          justify-content: center;
          align-items: center;
          width:150px;
          padding:10px;
          margin-left:50px;
          cursor: pointer;
          margin-top:10px;
        }

        .DBN_ExitToAppIcon_container_mobile{
          @include flex;
          justify-content: center;
          align-items: center;
          padding-right:50px;
          color:black !important;
          opacity: 0.5;

          .ExitToAppIcon_mobile{
              padding-right:20px !important;
          }
        }

        .DBN_ExitToAppIcon_container_mobile:hover{
          opacity: 0.9;
          transition:0.3s;
        }
}



}

/* Animations */

@keyframes clear{
  from{

      transform: rotate(180deg);
  }
  to{
      transform: rotate(0deg);
  }
}