

.password_paper{
    padding: 20px;
    height:auto;
    width: 280px;
    margin:70px auto;
    position: relative;
   
}

.password_logo{
    text-align: center;
}

.password_input{
    margin-top:20px;
    text-align: center;


   .register_textfield{
       
       width: 100% !important;

       ::placeholder{
           color:rgb(94, 94, 170)!important;
       }
   
       label {
           color: rgb(94, 94, 170)!important;
       }
   
   }
}

.password_Botton_container{
    
    .password_Button{
        width:100% !important;
        color: white !important;
        background:rgb(94, 94, 170) !important;
        margin-top:20px;

        :disabled{
             filter: contrast(0.7) !important;
        }
    }
}

.Password_field_container{
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}

.Password_field{
    color: red !important;
    font-size: 11px !important;
    min-height:18px !important;
    font-weight: bolder;
}

.login_register_pas{
    text-align: center;
    margin-top:3px;

    .dont_have_pas{
      color: rgba(2, 2, 2, 0.452);
      font-size:11px;
    }

    .login_register_pas{
        cursor: pointer;
        color:rgb(94, 94, 170) !important;
        font-weight: bolder;
        font-size:11px;
    }
}