@import "../../scssMixin/mixin.scss";

.Profile_container{
    @include flex;
    justify-content: space-between;
    align-items: center;

    h2{
        color:rgb(17, 17, 66);
    }
}


.PR_Grid_container{
    display: grid;
    gap:10px;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(4,minmax(150,auto));

    .PR_content_one{
        grid-column: 1/13;
        grid-row:1/2;
        background:rgb(17, 17, 66) !important;
        height:150px;
        border-radius:5px;

        .PR_Header{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .PR_Header_content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top:20px;
        }

        .PR_Numbers{
            color:#2fdfff;
        }

        .PR_Numbers_one{
            color:white;
            font-size:40px;
            font-weight: bolder;
        }

        .PR_Header_content_two{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top:10px;
            border-left: 1px solid white;
            padding-right:30px;
            padding-left:20px;
        }

        .PR_Total{
            color:#2fdfff;
        }
        
        .PR_Total_one{
            color:white;
            font-size:40px;
            font-weight: bolder;
        }

        .PR_Header_content_one{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top:10px;
            border-left: 1px solid white;
            padding-left:20px;
        }

        .PR_Avaluable{
            color:#2fdfff;
        }
        
        .PR_Avaluable_one{
            color:white;
            font-weight: bolder;
            font-size:20px;
        }

        .PR_Header_Button{
            width:100% !important;
            color: rgb(17, 17, 66) !important;
            background:#2fdfff !important;
            font-weight: bolder;
            margin-top:10px !important;
            
        }

        .PR_Number_Days_container{
            @include flex;
            flex-direction:column;
            justify-content:space-around !important;
            justify-content: center;
            
           
            

            .PR_Days_container{
                @include flex;
                justify-content: space-between !important;
                justify-content: center;
                margin-top:14px !important;
                border-left: 1px solid white;
                
               .PR_Icon{
                 color:#2fdfff !important;
                 margin-top:5px !important;
               }

                .PR_Number_of_days{
                    color:#2fdfff !important;
                    margin-right:50px !important;
                    padding-left: 20px;
                }
            }
        

            .PR_Days_container_two{
                @include flex;
                justify-content: space-between !important;
                justify-content: center;
                border-left: 1px solid white;
                
               .PR_Figures{
                color:white !important;
                font-size:40px;
                margin-right:50px !important;
                font-weight: bolder;
                padding-left: 20px;
               }

                .PR_Date{
                  color:white !important;
                  margin-right:-10px !important;
                  margin-top:5px;
                }
            
                
            }
        }
    }

    .PR_content_two{
        grid-column:1/13;
        grid-row:2/13;
        background:white !important;
        height:290px;
        border-radius:5px;

    }
}