@import "../../scssMixin/mixin.scss";

.Profile_container{
    @include flex;
    justify-content: space-between;
    align-items: center;

    h2{
        color:rgb(17, 17, 66);
    }

    .PR_select_textfield{
        background: white !important;
        width: 150px !important;
    }
    
    .PR_select_textfield::placeholder{
        color:rgb(17, 17, 66)!important;
    }
    
    .PR_select_textfield label{
        color: rgb(17, 17, 66)!important;
    }
}


.PR_Grid_container{
    display: grid;
    gap:10px;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(4,minmax(150,auto));

    .PR_content_one{
        grid-column: 1/13;
        grid-row:1/2;
        background:rgb(17, 17, 66) !important;
        height:120px;
        border-radius:5px;

        .PR_Header{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .PR_Header_content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top:20px;
        }

        .PR_Numbers{
            color:#2fdfff;
        }

        .PR_Numbers_one{
            color:white;
            font-size:40px;
            font-weight: bolder;
        }

        .PR_Header_content_two{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top:10px;
            border-left: 1px solid white;
            padding-right:30px;
            padding-left:20px;
        }

        .PR_Total{
            color:#2fdfff;
        }
        
        .PR_Total_one{
            color:white;
            font-size:40px;
            font-weight: bolder;
        }

        .PR_Header_content_one{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top:10px;
            border-left: 1px solid white;
            padding-left:20px;
        }

        .PR_Avaluable{
            color:#2fdfff;
        }
        
        .PR_Avaluable_one{
            color:white;
            font-weight: bolder;
            font-size:20px;
        }

        .PR_Header_Button{
            width:100% !important;
            color: rgb(17, 17, 66) !important;
            background:#2fdfff !important;
            font-weight: bolder;
            margin-top:10px !important;
            
        }

        .PR_Number_Days_container{
            @include flex;
            flex-direction:column;
            justify-content:space-around !important;
            justify-content: center;
            
           
            

            .PR_Days_container{
                @include flex;
                justify-content: space-between !important;
                justify-content: center;
                margin-top:14px !important;
                border-left: 1px solid white;
                
               .PR_Icon{
                 color:#2fdfff !important;
                 margin-top:5px !important;
               }

                .PR_Number_of_days{
                    color:#2fdfff !important;
                    margin-right:50px !important;
                    padding-left: 20px;
                }
            }
        

            .PR_Days_container_two{
                @include flex;
                justify-content: space-between !important;
                justify-content: center;
                border-left: 1px solid white;
                
               .PR_Figures{
                color:white !important;
                font-size:40px;
                margin-right:50px !important;
                font-weight: bolder;
                padding-left: 20px;
               }

                .PR_Date{
                  color:white !important;
                  margin-right:-10px !important;
                  margin-top:5px;
                }
            
                
            }
        }
    }

    .PR_content_two{
        grid-column:1/13;
        grid-row:2/13;
        background:white !important;
        height:auto;
        border-radius:5px;

        

        .profile_content_container{
            @include flex;
            justify-content:space-around;
            margin-top:20px;


            .PR_profile_image{
                border-radius: 100%;
                height:100px;
                width:100px;
            }


            .profile_content{
                // @include flex;
                // justify-content: space-around;
                margin-left: -100px;

                .Profile_name{
                    font-size:20px !important;
                    font-weight: bolder;
                    text-transform: capitalize !important;
                }

                .Profile_name_content{
                    font-size: smaller;
                }

            }
        }

        .Profile_draft{
            font-size: smaller !important;
            color: rgb(17, 17, 66) !important;
        }

        .profile_phone{
            font-size: smaller !important;
            color: rgb(17, 17, 66) !important;
        }


        .PR_Profile_details_container{
            @include flex;

            .profile_center{
               margin-left:50px;
                
            }

            .account_details_container{
                position: relative;
            }

            .Add_account{
                position: absolute;
                top:0;
                right:0;
                text-transform: none;
            }

            // .account_dialog{
            //     width:500px !important;
            // }
            
           
            
        }
        .PR_no_of_days_worked_container{
             @include flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             text-align: center;
             margin-top:40px;
             margin-left:50px;

            .PR_no_of_days_worked{
                border-radius:100%;
                height: 50px;
                width: 50px;
                border:3px solid #2fdfff;
                text-align: center;
                @include flex;
                align-items: center;
                justify-content: center;

                .PR_no_of_days_worked_content{
                    color:rgb(17, 17, 66) !important;
                    font-size:20px;
                    font-weight: bolder;
                }
            }
            .PR_no_of_days_worked_content_one{
                 font-size:smaller !important;
                 font-weight: bolder;
                 opacity: 0.6;
                 margin-top:10px;
            }
        }

        .PR_input_container{
            @include flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top:20px;
            margin-right:20px;


            input[type="file"]{
                display: none;
            }

            .AddCircleOutlineIcon{
                font-size:50px !important;
                background: white !important;
                color:#2fdfff !important;
                cursor: pointer !important;
            }

            .AddCircleOutlineIcon_text{
                font-size:smaller !important;
                font-weight: bolder;
                margin-top:10px;
                color:rgb(17, 17, 66) !important;
            }
        }


        .Pr_profile_button_container{
            @include flex;
            justify-content: center !important;
            align-items: center !important;
            margin-top: 20px;

            .Employer_button{
                border:none !important;
                font-size: small !important;
                font-weight: bold !important;
                width: 200px !important;

                &:hover {background: rgb(231, 230, 225) !important;
                    
                 } 
            }

            .Employer_button_one{
                border:none !important;
                background: rgb(231, 230, 225) !important;
                font-size: small !important;
                font-weight: bolder !important;
                width: 200px !important;
                    
            }
        }

        .line_container{
            @include flex;
            justify-content: center;
            align-items: center;

            .line{
                margin-top:-2px;
                height: 2px;
                width: 90%;
               background-color:rgb(231, 230, 225) !important;
            }
        }  

        .PR_Employers{
            font-size:20px;
            font-weight: bolder;
            color: black !important;
            opacity: 0.7;
            margin-top: 20px !important;
            margin-left: 100px !important;
        }

        .Table_cellhead_container{
            display: flex;
            align-items: center;
        }
        
        .PR_Table_cell{
            border-radius: 100%;
            height:20px;
            width:20px;
            margin-right:10px;
            margin-bottom:3px;
        }

        .PR_Table{
            width:500px !important;
            margin-left:100px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

      .Reset_password_paper{
        padding: 20px;
        height:auto;
        width: 500px;
        margin-left:100px;
        margin-bottom: 20px;
        margin-top: 20px;
        position: relative;
      }

      .Reset_password_input{
        margin-top:5px;
        text-align: center;

        .Reset_register_textfield{
       
            width: 100% !important;
     
            ::placeholder{
                color:rgb(17, 17, 66) !important;
            }
        
            label {
                color: rgb(17, 17, 66) !important;
            }
        
        }
      }

      .Reset_Password_field_container{
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;

        .Reset_Password_field{
            color: red !important;
            font-size: 11px !important;
            min-height:18px !important;
            font-weight: bolder;
        }
      }

      .Reset_password_Botton_container{
    
        .Reset_password_Button{
            width:100% !important;
            color: white !important;
            background:rgb(17, 17, 66) !important;
            margin-top:5px;
    
            :disabled{
                 filter: contrast(0.7) !important;
            }
        }
    }

    }


    .Animation{
        animation-name:search_animation;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
      }
      @keyframes search_animation{
        from {
            opacity:0.01;
            transform: translate(-5px,0);
        }
        to {
            opacity:1;
            transform: translate(0, 0);
        }
      }

      .transition{
          transition: 1s;
      }

}

// styling for the Dialog

.account_select_input{
    margin-top:15px;
    text-align: center;


    .account_select_textfield{
        width: 100% !important;
    
        ::placeholder{
            color:rgb(17, 17, 66)!important;
        }
    
        label {
            color: rgb(17, 17, 66)!important;
        }
     
    }
};

.account_input{
    margin-top:15px;
    text-align: center;

    .account_textfield{
   
        width: 100% !important;
 
        ::placeholder{
            color:rgb(17, 17, 66) !important;
        }
    
        label {
            color: rgb(17, 17, 66) !important;
        }
    
    }
  }
  .account_Botton_container{
    
    .account_password_Button{
        width:100% !important;
        color: white !important;
        background:rgb(17, 17, 66) !important;
        margin-top:15px;
        text-transform: none;

        :disabled{
             opacity:0.2 !important;
        }
    }
}

.dialog_action_button{
    background:rgb(231, 230, 225) !important;
}

.alert{
    margin-top: 15px !important;
}
