@import "../../scssMixin/mixin.scss";

.container_three{
  @include flex;
  justify-content:space-around;
  background-image: url(../../images/desk-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  margin-top:10px;
  
  .Man{
      margin-top:40px;
  }
  .H_P_Loerm_contanier{
       
        @include flex;
        flex-direction: column;
        align-content: center;

        .H_P_Loerm{
            margin-top:40px;
        
            .Lorem_H{
                font-size:40px;
                color: rgb(63, 63, 73);
            }
            
            .Lorem_p{
                word-spacing:5px;
                color: rgb(17, 17, 66);
                font-weight: bold;
            }
        }
        
        .learn_more_C{
            @include flex;
            justify-content: flex-end;
            margin-top: 50px;
            margin-right: 20px;

            .learn_more_two{
                background:rgb(94, 94, 170);
                color: white;
                padding:20px;
                padding-left:30px;
                padding-right: 50px;
                border-radius:30px;
                cursor: pointer;
                font-weight: bolder;
                position: relative;
                font-size: small;

                .Arrow_D{
                  position: absolute;
                  font-size: 40px !important;
                  top: 9px !important;
                }
            }
        }
     }
}