@import "../../scssMixin/mixin.scss";

.AAE_container{
    @include flex;
    justify-content: space-between;
    align-items: center;

    h2{
        color:#05006A;
    }
}



.AAE_Grid_container{
    display: grid;
    gap:10px;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(4,minmax(150,auto));
}


.AAE_content_one{
    grid-column:1/13;
    grid-row:1/13;
    background:white !important;
    height:520px;
    border-radius:5px;
    @include flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.AAE_Paper{
    padding: 20px;
    height:auto;
    width: 280px;
}

.AAE_input_email{
    margin-top:20px;
    text-align: center;


   .AAE_textfield{
       // input{
       //     height:5px;
       // }
       
       width: 100% !important;

       ::placeholder{
           color:#392fff !important;
       }
   
       label {
           color:#392fff  !important;
       }
   
   }
};

.AAE_Botton_container{
    margin-top:20px;

    .AAE_Button{
        width:100% !important;
        color: white !important;
        background:#392fff !important;
    }

 
}

.AAE_Password{
    font-size:30px;
    font-weight: bolder;
    color: black !important;
    opacity: 0.7;
    margin-bottom: 20px !important;
}