@import "../../scssMixin/mixin.scss";


.Download_container{
    background:rgba(192, 188, 188, 0.452) ;
    width:100%;
    height:150px;
    @include flex;
    justify-content: space-around;
    align-items: center;
        
        .Download_for{
            color: rgba(32, 32, 32, 0.452);
            font-size: 30px;
            font-weight: bolder;
        }
    

       

    
}


@include MQ(750px){

    .Download_container{
        @include flex;
        flex-direction: column !important;
    }

}