@import "../../scssMixin/mixin.scss";

.Loading_container{
    @include flex;
    justify-content:center !important;
    align-items: center !important;
    text-align: center !important;
    height: 100vh;
  

    img{
        padding-right:20px !important;
    }

   
}

