.FPWO_paper{
    padding: 20px;
    height:auto;
    width: 280px;
    margin:20px auto;
    position: relative;
}

.FPWO_logo{
    text-align: center;
}

.select_input_email{
    margin-top:10px;
    text-align: center;


   .select_textfield{
       width: 100% !important;

       ::placeholder{
           color:#392fff !important;
       }
   
       label {
           color: #392fff !important;
       }
   
   }
};

.select_input_email{
    margin-top:10px;
    text-align: center;


   .select_textfield{
       width: 100% !important;

       ::placeholder{
           color:#392fff !important;
       }
   
       label {
           color: #392fff !important;
       }
   
   }
};
.field_container{
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}

.field{
    color: red !important;
    font-size: 11px !important;
    min-height:18px !important;
    font-weight: bolder;
}
.register_Botton_container{
    
    .register_Button{
        width:100% !important;
        color: white !important;
        background:#392fff !important;
        margin-top:10px;

        :disabled{
             filter: contrast(0.7) !important;
        }
    }
}

.Forgotpassword_progress_circular{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top:20px;
}