@import "../../scssMixin/mixin.scss";

.container_three{
  @include flex;
  justify-content:space-around;
  margin-top:50px;
  margin-bottom:50px;


    .manwithphone_container{
         position: relative;
    

         .color_box_one{
             position:absolute;
             height: 100px;
             width: 100px;
             background: #2fdfff;
             left:-50px;
             top:120px;
             border-radius:20px;
             box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                        -webkit-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                        -moz-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);

         }
         
         .color_box_two{
            position:absolute;
            height: 80px;
            width: 80px;
            background: #392fff;
            right: -50px;
            top:300px;
            border-radius:20px;
            box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
            -webkit-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
            -moz-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
         }

        .Man{
           margin-top:50px;
           width:300px;
           height:400px;

           img{
               border-radius:50px;
               height:100%;
               width:100%;
           }

        }
}
  .H_P_Loerm_contanier{
       
        @include flex;
        flex-direction: column;
        align-content: center;
        

        .H_P_Loerm{
            margin-top:10px;
        
            .Lorem_H{
                font-size:40px;
                color: rgb(17, 17, 66);
            }
            
            .Lorem_p{
                word-spacing:5px;
                color: rgb(17, 17, 66);
                font-weight:400;
            }
        }
        
        .learn_more_C{
            @include flex;
            justify-content: flex-end;
            margin-top: 50px;
            margin-right: 20px;

            .learn_more_two{
                background:#392fff;
                color: white;
                padding:10px;
                padding-left:30px;
                padding-right: 30px;
                border-radius:5px;
                cursor: pointer;
                font-weight: bolder;
                position: relative;
                font-size: small;
                border:1px solid #392fff;
                transition: 0.5s;

               &:hover{
                background: white;
                color: #392fff;
                transition: 0.5s;
               }
                .Arrow_D{
                  position: absolute;
                  font-size: 40px !important;
                  top: 9px !important;
                }
            }
        }
     }
}