@mixin flex_center {
    display: flex;
    justify-content: center;
    align-content: center;
}
@mixin flex {
    display: flex;
}

@mixin MQ($arg) {
    @media screen and (max-width:$arg) {
        @content;
    }
}