nav{
    position:sticky;
    display:flex;
    justify-content:space-between;
    height:120px;
    top:0;
    background: white ;
    width:100%;
    transition: top 1s;
    box-sizing:border-box;
    z-index:5;
    box-shadow:-2px 10px 8px 0px rgba(50, 50, 53, 0.75);
}

.R_em_ep{
    display: flex;
    justify-content: center;
    align-content: center;
}

.R_em_ep--mobile,.Com_Fa_Lo_Re--mobile,.R_em_ep--mobile-none{
    display: none !important;
} 

.RapidOne--mobile{
    display:none;
}

.RapidOne{
    margin-top: 30px;
    margin-left: 30px;
}

.Employee{
    margin-top: 50px;
    margin-left: 60px;
    font-weight: bolder;
    font-size: 15px;
    color: rgb(17, 17, 66);
    cursor: pointer;
}

.Employer{
    margin-top: 50px;
    margin-left: 30px;
    font-weight: bolder;
    font-size: 15px;
    color: rgb(17, 17, 66);
    cursor: pointer;
}

.Com_Fa_Lo_Re{
    display: flex;
    justify-content: center;
    align-content: center;
}
 
.Company{
    margin-top: 50px;
    margin-right:50px;
    font-weight:bolder;
    font-size:15px;
    color: rgba(39, 39, 38, 0.452);
    cursor: pointer;
}

.box{
    display: none;
}

.Company:hover .box{
    display:flex;
    position: absolute;
    top:120px;
    right:0px;
    left:0px;
}

.img_box{
    position: relative;
    width:100%;
    height:250px;
}

.img_box img{
    width:100%;
    height:100%;
}

.overlay{
    position: absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    background: rgba(0,0,0,0.8);
    opacity:0.7;
    transition:0.7s ease;
}

.overlay_shade{
    background:white;
    color:black;
    margin-top:-10px;
    transition:0.7s ease;
    display: flex;
    justify-content: center;
}
.overlay_shade_text{
    padding: 44px;
    font-size:30px;
}

.img_box:hover .overlay{
    opacity:0;
}

.img_box:hover .overlay_shade{
    background: rgb(94, 94, 170);
    color: white;
    margin-top:-10px;
    display: flex;
    justify-content: center;
}

.Faq{
    margin-top: 50px;
    margin-right:50px;
    font-weight:bolder;
    font-size:15px;
    color: rgba(32, 32, 32, 0.452);
    cursor: pointer;
}

.Login{
    margin-top: 50px;
    margin-right:50px;
}

   
.Login_two{
    background:rgb(94, 94, 170);
    color: white;
    padding:10px;
    padding-left:30px;
    padding-right: 30px;
    border-radius:20px;
    font-size: small;
    cursor: pointer;
    font-weight: bolder;
}

.Register{
    margin-top: 50px;
    margin-right:100px;
}

.Register_two{
    background:rgb(94, 94, 170);
    color: white;
    padding:10px;
    padding-left:30px;
    padding-right: 30px;
    border-radius:20px;
    font-size: small;
    cursor: pointer;
    font-weight: bolder;
}

.nav_bar_Menu_icon{
    display: none;
}

@media screen and (max-width:1100px) {
    
    .R_em_ep,.Com_Fa_Lo_Re{
        display: none !important;
    }
    
    .RapidOne--mobile{
        position:absolute;
        top:30px;
        left:30px;
        display:block;
    }

    .R_em_ep--mobile-none{
        display: block !important;
        position:absolute;
        top:120px;
        left:-400px;
        background: white;
        opacity:0;
        transition:0.5s;
        border-bottom-right-radius:30px;
        box-shadow: -2px 10px 8px 0px rgba(50, 50, 53, 0.75);
    }

    .R_em_ep--mobile{
        display: block !important;
        position:absolute;
        top:120px;
        left:0;
        background: white;
        opacity:1;
        transition:0.5s;
        border-bottom-right-radius:30px;
        box-shadow: -2px 10px 8px 0px rgba(50, 50, 53, 0.75);
    }

    .Employee--mobile{
        margin:50px;
         font-weight: bolder;
         font-size: 15px;
         color: rgb(17, 17, 66);
         cursor: pointer;
     }

     
     .Employer--mobile{
        margin:50px;
        font-weight: bolder;
        font-size: 15px;
        color: rgb(17, 17, 66);
        cursor: pointer;
    } 

    .Company--mobile{
        margin:50px;
         font-weight:bolder;
         font-size:15px;
         color: rgba(36, 36, 35, 0.452);
         cursor: pointer;
     }

     
     .Faq--mobile{
        margin:50px;
          font-weight:bolder;
          font-size:15px;
          color: rgba(43, 43, 41, 0.452);
          cursor: pointer;
      }

      .Login--mobile{
        margin:50px;
     }

     .Login_two--mobile{
        background:rgb(94, 94, 170);
        color: white;
        padding:10px;
        padding-left:30px;
        padding-right: 30px;
        border-radius:20px;
        font-size: small;
        cursor: pointer;
        font-weight: bolder;
    }

    .Register--mobile{
        margin:50px;
    }

    .Register_two--mobile{
        background:rgb(94, 94, 170);
        color: white;
        padding:10px;
        padding-left:30px;
        padding-right: 30px;
        border-radius:20px;
        font-size: small;
        cursor: pointer;
        font-weight: bolder;
    }

    .nav_bar_Menu_icon{
        display: block !important;
        position:absolute;
        cursor: pointer;
        right:40px;
        top:40px;
        opacity:5;
    }

    .icon_color{
        color: rgb(17, 17, 66) !important;
        font-size:40px !important;
    }

    .icon_color--clear{
        color: rgb(17, 17, 66) !important;
        font-size:40px !important;
        animation-name:clear;
        animation-duration:0.5s;
    }
   
    nav.hide{
        transform:translateY(-120px);
    }
    
    .small{
        height:50px;
    }
}



/* Animations */

@keyframes clear{
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.video-js{
    display: block;
    border-radius:20px;
    margin-left: auto;
    margin-right: auto;
  }