nav{
    position:sticky;
    display:flex;
    justify-content:space-between;
    height:90px;
    top:0;
    background: white ;
    width:100%;
    transition: 0.5s;
    box-sizing:border-box;
    z-index:5;
    box-shadow:-2px 10px 8px 0px rgba(50, 50, 53, 0.75);
}



/* .show{
    visibility: visible;
    transition: all 0.5s;
}

.hidden{
    visibility: hidden;
    transition: all 0.5s;
    transform: translateY(-100%);
} */

.R_em_ep{
    display: flex;
    justify-content: center;
    align-content: center;
}

.R_em_ep--mobile,.Com_Fa_Lo_Re--mobile,.R_em_ep--mobile-none{
    display: none !important;
} 

.RapidOne--mobile{
    display:none;
}

.RapidOne{
    margin-top: 10px;
    margin-left: 30px;
}

.Employee{
    margin-top: 35px;
    margin-left: 60px;
    font-weight: bolder;
    font-size: 15px;
    color: #434343;
    cursor: pointer;
}

.Employee:hover{
    color:#2fdfff;
}

.Employer{
    margin-top: 35px;
    margin-left: 30px;
    font-weight: bolder;
    font-size: 15px;
    color: #434343;
    cursor: pointer;
}

.Employer:hover{
    color:#2fdfff;
}

.Com_Fa_Lo_Re{
    display: flex;
    justify-content: center;
    align-content: center;
}
 
.Company{
    margin-top: 35px;
    margin-right:50px;
    font-weight:bolder;
    font-size:15px;
    color: #434343;
    cursor: pointer;
}

.Company:hover{
    margin-top: 35px;
    margin-right:50px;
    font-weight:bolder;
    font-size:15px;
    color: #2fdfff;
    cursor: pointer;
}

.box{
    display: none;
}

.Company:hover .box{
    display:flex;
    position: absolute;
    top:90px;
    right:0px;
    left:0px;
}

.img_box{
    position: relative;
    width:100%;
    height:250px;
}

.about_picture{
    width:100%;
    height:104%;
    background-image: url(../../images/aboutustwo.jpg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}

.privacy_picture{
    width:100%;
    height:104%;
    background-image: url(../../images/private&policy.jpg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}

.Fag_picture{
    width:100%;
    height:104%;
    background-image: url(../../images/handshake.jpg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}
.Lagal_picture{
    width:100%;
    height:104%;
    background-image: url(../../images/legaltwo.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}
.contact_picture{
    width:100%;
    height:104%;
    background-image: url(../../images/contactus.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

/* .img_box img{
    width:100%;
    height:100%;
} */

.overlay{
    position: absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    background: rgba(0,0,0,0.8);
    opacity:0.7;
    transition:0.7s ease;
}

.overlay_shade{
    background:white;
    color:black;
    margin-top:-10px;
    transition:0.7s ease;
    display: flex;
    justify-content: center;
}
.overlay_shade_text{
    padding: 44px;
    font-size:30px;
}

.img_box:hover .overlay{
    opacity:0;
}

.img_box:hover .overlay_shade{
    background: #392fff;
    color: white;
    margin-top:-10px;
    display: flex;
    justify-content: center;
}

.Faq{
    margin-top: 35px;
    margin-right:50px;
    font-weight:bolder;
    font-size:15px;
    color: #434343;
    cursor: pointer;
}
.Faq:hover{
    color:#2fdfff;
}

.Login{
    margin-top: 35px;
    margin-right:50px;
}

   
.Login_two{
    background:#392fff;
    color:white ;
    padding:10px;
    padding-left:30px;
    padding-right: 30px;
    border-radius:5px;
    font-size: small;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.5s;
    border:1px solid #392fff;
  
}
.Login_two:hover{
    background: white;
    color: #392fff;
    transition: 0.5s;
}

.Register{
    margin-top: 35px;
    margin-right:100px;
}

.Register_two{
    background:#392fff;
    color:white;
    padding:10px;
    padding-left:30px;
    padding-right: 30px;
    border-radius:5px;
    font-size: small;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.5s;
    border:1px solid #392fff;
}
.Register_two:hover{
    background: white;
    color: #392fff;
    transition: 0.5s;
}

.nav_bar_Menu_icon{
    display: none;
}

@media screen and (max-width:1100px) {
    
    .R_em_ep,.Com_Fa_Lo_Re{
        display: none !important;
    }
    
    .RapidOne--mobile{
        position:absolute;
        top:10px;
        left:30px;
        display:block;
    }

    .R_em_ep--mobile-none{
        display: block !important;
        position:absolute;
        top:90px;
        left:-400px;
        background: white;
        opacity:0;
        transition:0.5s;
        border-bottom-right-radius:30px;
        box-shadow: -2px 10px 8px 0px rgba(50, 50, 53, 0.75);
    }

    .R_em_ep--mobile{
        display: block !important;
        position:absolute;
        top:90px;
        left:0;
        background: white;
        opacity:1;
        transition:0.5s;
        border-bottom-right-radius:30px;
        box-shadow: -2px 10px 8px 0px rgba(50, 50, 53, 0.75);
    }

    .Employee--mobile{
        margin-top: 35px;
        margin-left: 60px;
        font-weight: bolder;
        font-size: 15px;
        color: #434343;
        cursor: pointer;
     }
    
    .Employee--mobile:hover{
        color:#2fdfff;
    }

     
     .Employer--mobile{
        margin-top: 35px;
        margin-left: 60px;
        font-weight: bolder;
        font-size: 15px;
        color: #434343;
        cursor: pointer;
    } 

    .Employer--mobile:hover{
        color:#2fdfff;
    }



    .Company--mobile{
        margin-top: 35px;
        margin-left: 60px;
        font-weight: bolder;
        font-size: 15px;
        color: #434343;
        cursor: pointer;
     }

     .Company--mobile:hover{
        color:#2fdfff;
    }

     
     .Faq--mobile{
        margin-top: 35px;
        margin-left: 60px;
        font-weight: bolder;
        font-size: 15px;
        color: #434343;
        cursor: pointer;
      }

      .Faq--mobile--mobile:hover{
        color:#2fdfff;
       }


      .Login--mobile{
        margin:50px;
     }

     .Login_two--mobile{
        background:#392fff;
        color:white ;
        padding:10px;
        padding-left:30px;
        padding-right: 30px;
        border-radius:5px;
        font-size: small;
        cursor: pointer;
        font-weight: bolder;
        transition: 0.5s;
        border:1px solid #392fff;
    }


    .Login_two--mobile:hover{
        background: white;
        color: #392fff;
        transition: 0.5s;
    }

    .Register--mobile{
        margin:50px;
    }

    .Register_two--mobile{
        background:#392fff;
        color:white ;
        padding:10px;
        padding-left:30px;
        padding-right: 30px;
        border-radius:5px;
        font-size: small;
        cursor: pointer;
        font-weight: bolder;
        transition: 0.5s;
        border:1px solid #392fff;
    }

    .Register_two--mobile:hover{
        background: white;
        color: #392fff;
        transition: 0.5s;
    }

    .nav_bar_Menu_icon{
        display: block !important;
        position:absolute;
        cursor: pointer;
        right:40px;
        top:25px;
        opacity:5;
    }

    .icon_color{
        color: rgb(17, 17, 66) !important;
        font-size:40px !important;
    }

    .icon_color--clear{
        color: rgb(17, 17, 66) !important;
        font-size:40px !important;
        animation-name:clear;
        animation-duration:0.5s;
    }
   
  
    .small{
        height:50px;
    }
}

/* nav.top{
    transform:translateY(120px);
} */



/* Animations */

@keyframes clear{
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.video-js{
    display: block;
    border-radius:20px;
    margin-left: auto;
    margin-right: auto;
  }

  