@import "../../scssMixin/mixin.scss";

.container_two{
    background-image: url(../../images/employee-man.png);
    height:410px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   

    .W_A_S{
        @include flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 50px;
        margin-right: 50px;

        .With_D{
                 
             margin-top:40px;
              
                .Withdraw{
                    color: white;
                    font-size:50px;
                    font-weight: bolder;
                    letter-spacing:5px;
                }
        }  
                .As{
                    color: white;
                    font-size:50px;
                    font-weight: bolder;
                    letter-spacing:5px;
                }


                .With_D_two{
                 
                    margin-top:10px;
                    line-height:0.6cm;
                    text-align: right;
                     
                       .Withdraw_two{
                           color: white;
                           
                       }
                }  

                .With_D_two_mobile{
                    display: none;
                }
      .Botton--one{
          border: 1px solid white !important;
          color: white !important;
          width:200px !important;
      }
          

    }
}

// reponsiveness 
@include MQ(690px){
   .W_A_S{
    @include flex;
    flex-direction: column !important;
    line-height: 50px !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin-left:10px;
   

    .With_D_two{
        text-align:left !important;
    }

   }

   .Withdraw{
     font-size:40px !important;
     letter-spacing: 0px !important;
   
    }

    .As{
      
        font-size:40px !important;
        letter-spacing: 0px !important;
      
    }

    .With_D{
        margin-top:20px !important;
    }

    
}

// responsive for text

@include MQ(600px){

    .With_D_two{
        display: none;
    }

   

    .With_D_two_mobile{
        display: block !important;
        margin-top:10px;
        line-height:0.6cm;
        text-align: left !important;
         
           .Withdraw_two_mobile{
               color: white;
               
           }
    }
}


