@import "../../scssMixin/mixin.scss";

.container_two{
    background-image: url(../../images/employee-man.png);
    height:410px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   

    .W_A_S{
        @include flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 50px;
        margin-right: 50px;

        .With_D{
                 
             margin-top:40px;
              
                .Withdraw{
                    color: white;
                    font-size:50px;
                    font-weight: bolder;
                    letter-spacing:5px;
                }
        }  
                .As{
                    color: white;
                    font-size:50px;
                    font-weight: bolder;
                    letter-spacing:5px;
                }


                .With_D_two{
                 
                    margin-top:10px;
                    line-height:0.6cm;
                    text-align: right !important;
                     
                       .Withdraw_two{
                           color: white;
                           
                       }
                }  
      .Botton--one{
          border: 1px solid white !important;
          color: white !important;
          width:200px !important;
      }
          

    }
}


