@import "../../scssMixin/mixin.scss";

.Faq_main_container{

     margin-bottom: 50px;

        .Faq_container{
            @include flex;
            justify-content:space-around;
            margin-top:50px;
            margin-bottom:100px;

            .Faq_picture_container{

                position: relative;

                .Faq_color_box_one{
                    position:absolute;
                    height: 100px;
                    width: 100px;
                    background: #2fdfff;
                    left:-50px;
                    top:120px;
                    border-radius:20px;
                    box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                            -webkit-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                            -moz-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                }


                .Faq_color_box_two{
                    position:absolute;
                    height: 80px;
                    width: 80px;
                    background: #392fff;
                    right: -50px;
                    top:300px;
                    border-radius:20px;
                    box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                    -webkit-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                    -moz-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                }

                .Faq_picture{
                    margin-top:50px;
                    width:300px;
                    height:400px;
                    background-image: url(../../images/faq.jpg);
                    background-size:cover;
                    background-repeat:no-repeat;
                    background-position: center;
                    border-radius:15px;
                }
            }

            .Faq{
                margin-top:70px;
                color: rgb(17, 17, 66);
                font-weight:400;
                line-height:0.6cm;
            }

            .Faq_mobile{
                display: none;
            }

        }

        .AddIcon_main_container{
            margin-top:-40px;
        }

        .AddIcon_container{
            @include flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
           
            
            
            .AddIcon{
                @include flex;
                justify-content: center;
                align-items: center;
                border: 0.5px solid rgb(17, 17, 66) ;
                padding:5px;

                .Icon_S{
                    margin-right:20px !important;
                    font-weight:400;
                    color:#2fdfff !important;
                    cursor: pointer;
                }

                .Icon_L{
                    color:rgb(17, 17, 66);
                    width: 600px;
                }

                .dot{
                    display: none !important;
                }
            }

        }

        .AddIcon_letter_container{
            @include flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            // transition:0.7s;
            animation-name:AddIconAnimate;
            animation-duration:1s;

            .AddIcon_letter{
                @include flex;
                justify-content: center;
                align-items: center;
                border: 0.5px solid rgb(17, 17, 66) ;
                padding:5px;
                font-size: small;
                padding:20px;
                width: 615px;
                line-height:0.6cm;
                
            }
        }



        .AddIcon_letter_container_none{
            display: none;
            transition:0.7s ease;
            
        }

}

// Animation


@keyframes AddIconAnimate{
    from{
        opacity:0;
    }
    to{
       opacity:1;
    }
}


// Responsivness 

@include MQ(650px){
    .Icon_L{
        width: 330px !important;
    }

    
    .AddIcon_letter{
        width: 345px !important;
    }
}

@include MQ(1085px){
   
    .Faq{
        display: none;
    }
     

    .Faq_mobile{
        display:block !important;
        color: rgb(17, 17, 66);
        font-weight:400;
        line-height:0.6cm;
        text-align: center;
        margin-top:50px;
        padding: 20px;
    }

    .Faq_container{
        flex-direction: column !important;
        align-items: center;
        justify-content: none !important;
        
    }
}