@import "../../scssMixin/mixin.scss";

.Contactus_container{
    text-align: center;
    color: rgb(17, 17, 66);
    font-weight: bold;
    margin-bottom:30px;
    margin-top:80px;
}

.contactus_icon_container{
    @include flex;
    justify-content:space-around;
    margin-top:150px;
    margin-bottom:100px;

    .contactus_icon{
        color:rgb(17, 17, 66) !important;
    }

    .contactus_info{
      color:rgb(17, 17, 66);

      .contactus_text{
          font-size: small;
      }
    }
}

.contactus_log_container{
    @include flex;
    justify-content:space-around;
    margin-top:50px;
    margin-bottom:100px;
    
    .contactus_picture_container{
    
        position: relative;


        .contactus_color_box_one{
            position:absolute;
            height: 100px;
            width: 100px;
            background: #2fdfff;
            left:-50px;
            top:120px;
            border-radius:20px;
            box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                       -webkit-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                       -moz-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
        }

        .contactus_color_box_two{
            position:absolute;
            height: 80px;
            width: 80px;
            background: rgb(94, 94, 170);
            right: -50px;
            top:300px;
            border-radius:20px;
            box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
            -webkit-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
            -moz-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
        }
       
        .contactus_picture{
            margin-top:50px;
            width:300px;
            height:400px;
            background-image: url(../../images/contactus.jpg);
            background-size:cover;
            background-repeat:no-repeat;
            background-position: center;
            border-radius:15px;
        }

    }


    .contactus_Earn_before{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left:-400px;
        // margin-top:70px;
        color: rgb(17, 17, 66);
        font-weight: bold;
    }
    

  

}
