.Dashboard_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.Dashboard_container h2{
    color:#05006A;
}

.Dashboard_select_textfield{
    background: white !important;
    width: 150px !important;
    margin-right:270px !important;
}

.Dashboard_select_textfield::placeholder{
    color:#392fff!important;
}

.Dashboard_select_textfield label{
    color: #392fff!important;
}

.DB_Grid_container{
    display: grid;
    gap:10px;
    /* grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(4,minmax(150,auto)); */
}

.DB_content_one{
    grid-column: 1/10;
    grid-row:1/2;
    background:#05006A!important;
    height:120px;
    border-radius:5px;
    position: relative;
}

.DB_content_two{
    grid-column:10/13;
    grid-row:1/13;
    background:white !important;
    height:450px;
    border-radius:5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.DB_content_three{
    grid-column:1/4;
    grid-row:2/13;
    background:white !important;
    height:320px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.DB_content_four{
    grid-column:4/10;
    grid-row:2/13;
    background:white !important;
    height:320px;
    border-radius:5px;
}

.DB_Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.DB_Profile_progress_circular{
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.DB_Header_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:20px;
}

.DB_Header_content_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:10px;
}

.DB_Header_content_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:10px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding-right:30px;
    padding-left:30px;
}


.Numbers{
    color:#2fdfff;
}

.Numbers_one{
    color:white;
    font-size:40px;
    font-weight: bolder;
}

.Total{
    color:#2fdfff;
}

.Total_one{
    color:white;
    font-size:40px;
    font-weight: bolder;
}

.Avaluable{
    color:#2fdfff;
}

.Avaluable_one{
    color:white;
    font-weight: bolder;
    font-size:20px;
}

.DB_Header_Button{
    width:100% !important;
    color: #05006A !important;
    background:#2fdfff !important;
    font-weight: bolder !important ;
    margin-top:10px !important;
    
}

.circular{
    position: relative;
    height:100px;
    width:100px;
    transform: scale(1.4);
}


.circular .inner{
    position: absolute;
    z-index:6;
    top:50%;
    left:50%;
    height:80px;
    width:80px;
    margin:-40px 0 0 -40px;
    background: white;
    box-shadow:0 0px 0 rgba(0,0,0,0.2);
    border-radius:100%;
}

.circular .Numb{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color:#05006A;

}

.Days{
    font-size:10px !important;
    font-weight: lighter !important;
}
.circular .Bar{
    position: absolute;
    height:100%;
    width:100%;
    border-radius:100%;
    clip: rect(0px,100px,100px, 50px);
    background: #2fdfff;
}

.circle .Bar .Progress{
    position: absolute;
    height:100%;
    width:100%;
    border-radius:100%;
    clip: rect(0px,50px,100px, 0px);
    background:#05006A ;
  
}

.circle .Left .Progress{
    z-index: 1;
    animation:left 2678400s linear both;
    animation-iteration-count: infinite;
}

.circle .Right {
    z-index: 3;
    transform: rotate(180deg);
}

.circle .Right .Progress{
    animation:right 2678400s linear both;
    animation-delay: 2678400s;
    animation-iteration-count: infinite;
}

.Calander{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;    
}

.Calander_Number{
    font-size:10px;
    font-weight: bold;
    color:#05006A!important;
    padding-right:60px;
}

.calander_icon{
    font-size: 10px !important;
    font-weight: bold !important;
    color:#05006A !important;
}

@keyframes left{
    100%{
       transform: rotate(180deg);
    }
}

@keyframes right{
    100%{
       transform: rotate(180deg);
    }
}

.Position{
    margin-top:20px;
    margin-left: 20px;
    margin-bottom:10px;
    font-size:23px;
    font-weight: bolder;
    color: black !important;
    opacity: 0.7;
}

.Table_cellhead_container{
    display: flex;
    align-items: center;
}

.Table_cell{
    border-radius: 100%;
    height:20px;
    width:20px;
    margin-right:10px;
    margin-bottom:3px;
}

.Portfolio{
    color: black !important;
    
    margin-top:20px;
}

.Total_num{
    font-size: smaller !important;
    font-weight: bolder;
    opacity: 0.5 !important;
}

.Portfolio_one{
    font-weight: bolder !important;
    font-size:23px;
    opacity: 0.7 !important;
}

.Portfolio_circular{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Portfolio_inner{
    border-radius:100%;
    height: 80px;
    width: 80px;
    border:3px solid #2fdfff;
    text-align: center;
    display:  flex;
    align-items: center;
    justify-content: center;
}

.Portfolio_Numb{
    color:#05006A !important;
    font-size:30px;
    font-weight: bolder;
}

.DB_Grid_container_mobile{
    display: none;
}

/* dialog style */

.account_select_input{
    margin-top:15px;
    text-align: center;
}

.account_select_textfield{
    width: 100% !important;
}

.account_select_textfield::placeholder, label{
    color:#392fff!important;
}

.account_input{
    margin-top:15px;
    text-align: center;
}

.account_textfield::placeholder, label{
    color:#392fff !important;
}

.account_password_Button{
    width:100% !important;
    color: white !important;
    background:#392fff !important;
    margin-top:15px;
    text-transform: none;
}

.dialog_action_button{
    background:rgb(231, 230, 225) !important;
}

.alert{
    margin-top: 15px !important;
}
.Profile_progress_circular{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top:20px;
}




/* resposivness */

@media screen and (max-width:915px) {
    .DB_Grid_container{
        display: none;
    }

    .DB_Grid_container_mobile{
        display: grid !important;
        gap:10px;
    }

    .DB_content_one_mobile{
        grid-column: 1/6;
        grid-row:1/2;
        background:#05006A!important;
        height:auto;
        padding: 20px;
        border-radius:5px;
        position: relative;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }
    .DB_content_two_mobile{
        grid-column: 6/13;
        grid-row:1/2;
        background:#05006A!important;
        height:auto;
        border-radius:5px;
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }
    .DB_content_three_mobile{
        grid-column: 1/13;
        grid-row:2/3;
        background:#05006A!important;
        height:auto;
        border-radius:5px;
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }

    .DB_content_four_mobile{
        grid-column: 1/13;
        grid-row:3/4;
        background:white!important;
        height:auto;
        border-radius:5px;
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }

    .DB_content_five_mobile{
        grid-column: 1/13;
        grid-row:4/5;
        background:white!important;
        height:auto;
        border-radius:5px;
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }

    .DB_content_six_mobile{
        grid-column: 1/13;
        grid-row:5/6;
        background:white!important;
        height:auto;
        border-radius:5px;
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }

    .DB_Header_content_mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Numbers_mobile{
        color:#2fdfff;
    }

    .Numbers_one_mobile{
        color:white;
        font-size:20px;
        font-weight: bolder;
    }

    .DB_Profile_progress_circular_mobile{
        display: flex !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    .DB_Header_content_two_mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Total_mobile{
        color:#2fdfff;
    }
    
    .Total_one_mobile{
        color:white;
        font-size:20px;
        font-weight: bolder;
    }
    
    .Avaluable_mobile{
        color:#2fdfff;
    }
    
    .Avaluable_one_mobile{
        color:white;
        font-weight: bolder;
        font-size:20px;
    }

    .DB_Header_Button_mobile{
        width:80% !important;
        color: #05006A !important;
        background:#2fdfff !important;
        font-weight: bolder !important;
        margin-top:10px !important; 
        
    }

    /* dialog for mobile styling */

    .account_select_input_mobile{
        margin-top:15px;
        text-align: center;
    }

    .account_select_textfield_mobile{
        width: 100% !important;
    }

    .account_select_textfield_mobile::placeholder, label{
        color:#392fff!important;
    }

    .account_input_mobile{
        margin-top:15px;
        text-align: center;
    }

    .account_textfield_mobile{
        width: 100% !important;
    }

    .account_textfield_mobile::placeholder, label{
        color:#392fff!important;
    }

    .account_password_Button_mobile{
        width:100% !important;
        color: white !important;
        background:#392fff !important;
        margin-top:15px;
        text-transform: none;
    }

    .dialog_action_button_mobile{
        background:rgb(231, 230, 225) !important;
    }

    .Profile_progress_circular_mobile{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top:20px;
    }
    /* ..... */


    .circular_mobile{
        position: relative;
        height:100px;
        width:100px;
        transform: scale(1.4);
        margin-top: 20px;
    }
    
    
    .circular_mobile .inner_mobile{
        position: absolute;
        z-index:6;
        top:50%;
        left:50%;
        height:80px;
        width:80px;
        margin:-40px 0 0 -40px;
        background: white;
        box-shadow:0 0px 0 rgba(0,0,0,0.2);
        border-radius:100%;
    }
    
    .circular_mobile .Numb_mobile{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        color:#05006A;
    
    }
    
    .Days_mobile{
        font-size:10px !important;
        font-weight: lighter !important;
    }
    .circular_mobile .Bar_mobile{
        position: absolute;
        height:100%;
        width:100%;
        border-radius:100%;
        clip: rect(0px,100px,100px, 50px);
        background: #2fdfff;
    }
    
    .circle_mobile .Bar_mobile .Progress_mobile{
        position: absolute;
        height:100%;
        width:100%;
        border-radius:100%;
        clip: rect(0px,50px,100px, 0px);
        background:#05006A ;
      
    }
    
    .circle_mobile .Left_mobile .Progress_mobile{
        z-index: 1;
        animation:left 4s linear both;
    }
    
    .circle_mobile .Right_mobile{
        z-index: 3;
        transform: rotate(180deg);
    }
    
    .circle_mobile .Right_mobile .Progress_mobile{
        animation:right 4s linear both;
        animation-delay: 4s;
    }
    
    .Calander_mobile{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;    
    }
    
    .Calander_Number_mobile{
        font-size:10px;
        font-weight: bold;
        color:#05006A!important;
        padding-right:60px;
    }
    
    .calander_icon_mobile{
        font-size: 10px !important;
        font-weight: bold !important;
        color:#05006A !important;
    }

    .Portfolio_mobile{
        color: black !important;
        text-align: center;
        margin-top:20px;
    }
    
    .Total_num_mobile{
        font-size: smaller !important;
        font-weight: bolder;
        opacity: 0.5 !important;
    }
    
    .Portfolio_one_mobile{
        font-weight: bolder !important;
        font-size:23px;
        opacity: 0.7 !important;
    }
    
    .Portfolio_circular_mobile{
        display:  flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .Portfolio_inner_mobile{
        border-radius:100%;
        height: 80px;
        width: 80px;
        border:3px solid #2fdfff;
        text-align: center;
        display:  flex;
        align-items: center;
        justify-content: center;
    }
    
    .Portfolio_Numb_mobile{
        color:#05006A !important;
        font-size:30px;
        font-weight: bolder;
    }
    
    .Position_mobile{
        margin-top:20px;
        margin-bottom:10px;
        font-size:23px;
        text-align: center;
        font-weight: bolder;
        color: black !important;
        opacity: 0.7;
    }
    
    .Table_cellhead_container_mobile{
        display: flex;
        align-items: center;
    }
    
    .Table_cell_mobile{
        border-radius: 100%;
        height:20px;
        width:20px;
        margin-right:10px;
        margin-bottom:3px;
    }

   

}


 

