@import "../../scssMixin/mixin.scss";

.Dashboard_container{
    @include flex;
    justify-content: space-between;
    align-items: center;
}


.DB_Grid_container{
    display: grid;
    gap:10px;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(4,minmax(150,auto));

    .DB_content_one{
        grid-column: 1/10;
        grid-row:1/2;
        background:rgb(17, 17, 66) !important;
        height:150px;
        border-radius:5px;

    }

    .DB_content_two{
        grid-column:10/13;
        grid-row:1/13;
        background:white !important;
        height:450px;
        border-radius:5px;

    }

    .DB_content_three{
        grid-column:1/4;
        grid-row:2/13;
        background:white !important;
        height:290px;
        border-radius:5px;
    }

    .DB_content_four{
        grid-column:4/10;
        grid-row:2/13;
        background:white !important;
        height:290px;
        border-radius:5px;
    }
        
}
