@import "../../scssMixin/mixin.scss";

.footer_container{
    background:rgb(17, 17, 66) ;
    color:white;
    @include flex;
    justify-content: space-around;
    height:500px;
    width:100%;
   

    .footer_Rapid{
        @include flex;
        flex-direction: column;
      

        .footer_Rapid_logo{
            margin-top:30px;
            margin-left:-80px;
            font-size:5px;
        }

        .footer_Lorem{
            margin-left:-80px;
            margin-top:65px;

            .footer_Lorem_second{
                font-size: smaller;
            }
        }

        .footer_All_right{
            margin-left:-80px;
            margin-top:175px !important;
            

            .footer_All_right_seond{
                font-size: smaller;
                
            }
        }
    }

    .footer_list_tag_one{
        margin-top:140px;
        margin-left:-200px;

        ul{
            list-style: none;

            li{
                line-height:30px;
                cursor: pointer;
                font-size: smaller;
            }
        }
    }

    .footer_list_tag_two{
        margin-top:140px;
        margin-left:-200px;
       
        ul{
            list-style: none;

            li{
                line-height:30px;
                cursor: pointer;
                font-size: smaller;
            }
        }

    }

    .footer_location{
        margin-top:140px;

        .footer_textfield{
            margin-left:-200px;

            .subcribe{
                margin-bottom:20px;

                .subcribe_words{
                    font-size: smaller;
                }
           }
        }


        .footer_email_text{
            
            width: 100% !important;

            ::placeholder{
                color:#e3f2fd !important;
            }
           
            label {
                color: #e3f2fd !important;
            }
           
           
        }

        

        .footer_location_icon{
            @include flex;
            margin-left:-200px;

            .footer_img_location{
                margin-right:20px;
            }
            
            .footer_img_lorem{
                font-size: smaller;
            }
        }

        .footer_email{
            @include flex;
            margin-left:-200px;
            margin-top:30px;

            .footer_email_img{
                margin-right:20px;
                background:rgb(94, 94, 170);
                padding:5px;
                border-radius:5px;
                display: flex;
                justify-content:center;
                align-items: center;
                cursor: pointer;
            }

            .footer_email_link{
                font-size: smaller;
            }
        }

        .footer_social_media{
             margin-top:30px;
             margin-left: -70px;
             display: flex;
             justify-content:center;
             align-items: center;
             
             .footer_social_container{
                margin-right:10px !important;
                background:rgb(94, 94, 170) ;
                padding:5px;
                border-radius:5px;
                display: flex;
                justify-content:center;
                align-items: center;
                cursor: pointer;
                
             }

             .footer_social{
                 font-size:20px !important;
                 color: white !important;
             }
        }
    }
}