@import "../../scssMixin/mixin.scss";

.footer_container{
    background:rgb(94, 94, 170);
    color:white;
    @include flex;
    justify-content: space-around;
    height:400px;
    width:100%;
   

    .footer_Rapid{
        @include flex;
        flex-direction: column;
        justify-content:space-around;

        .footer_Rapid_logo{
            margin-top:-20px;
            margin-left:-80px;
            font-size:5px;
        }

        .footer_Lorem{
            margin-left:-80px;
            margin-top:-100px;

            .footer_Lorem_second{
                font-size: smaller;
            }
        }

        .footer_All_right{
            margin-left:-80px;
            

            .footer_All_right_seond{
                font-size: smaller;
                 margin-top:-30px !important;
            }
        }
    }

    .footer_list_tag_one{
        margin-top:100px;
        margin-left:-200px;

        ul{
            list-style: none;

            li{
                line-height:30px;
                cursor: pointer;
                font-size: smaller;
            }
        }
    }

    .footer_list_tag_two{
        margin-top:100px;
        margin-left:-200px;
       
        ul{
            list-style: none;

            li{
                line-height:30px;
                cursor: pointer;
                font-size: smaller;
            }
        }

    }

    .footer_location{
        margin-top:110px;


        // .footer_email_text{
        //     color: blue;
        //     width: auto;
        //     background: white;
        //     border:1px solid green;
        //     ::placeholder{
        //         color:green;
        //     }
        //     label{
        //         color: green;
        //     }
        //     &:hover{
        //         color: green;
        //     }
           
        // }

        

        .footer_location_icon{
            @include flex;
            margin-left:-200px;

            .footer_img_location{
                margin-right:20px;
            }
            
            .footer_img_lorem{
                font-size: smaller;
            }
        }

        .footer_email{
            @include flex;
            margin-left:-200px;
            margin-top:30px;

            .footer_email_img{
                margin-right:20px;
            }

            .footer_email_link{
                font-size: smaller;
            }
        }

        .footer_social_media{
             margin-top:130px;
             margin-left: -70px;
             display: flex;
             justify-content:center;
             align-items: center;
             
             .footer_social_container{
                margin-right:10px !important;
                background:rgb(34, 34, 121) ;
                padding:5px;
                border-radius:5px;
                display: flex;
                justify-content:center;
                align-items: center;
                cursor: pointer;
                
             }

             .footer_social{
                 font-size:20px !important;
                 color: white !important;
             }
        }
    }
}