@import "../../scssMixin/mixin.scss";

.settelment_container{
    @include flex;
    justify-content: space-between;
    align-items: center;
}


.ST_Grid_container{
    display: grid;
    gap:10px;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(4,minmax(150,auto));

    .ST_content_one{
        grid-column: 1/13;
        grid-row:1/2;
        background:rgb(17, 17, 66) !important;
        height:150px;
        border-radius:5px;
    }

    .ST_content_two{
        grid-column:1/13;
        grid-row:2/13;
        background:white !important;
        height:290px;
        border-radius:5px;

    }
}