@import "../../scssMixin/mixin.scss";

.Employee_container{
    @include flex;
    justify-content:space-around;
    margin-top:50px;
    margin-bottom:100px;
    
    .Employee_picture_container{
    
        position: relative;


        .Employee_color_box_one{
            position:absolute;
            height: 100px;
            width: 100px;
            background: #2fdfff;
            left:-50px;
            top:120px;
            border-radius:20px;
            box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                       -webkit-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                       -moz-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
        }

        .Employee_color_box_two{
            position:absolute;
            height: 80px;
            width: 80px;
            background: #392fff;
            right: -50px;
            top:300px;
            border-radius:20px;
            box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
            -webkit-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
            -moz-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
        }
       
        .Employee_picture{
            margin-top:50px;
            width:300px;
            height:400px;
            background-image: url(../../images/employee.jpg);
            background-size:cover;
            background-repeat:no-repeat;
            background-position: center;
            border-radius:15px;
        }

    }


    .Employee_Earn_before{
        margin-left:-400px;
        margin-top:70px;
        color: rgb(17, 17, 66);
        font-weight:400;
        line-height:0.8cm;
    }
    

  

}

.Employee_Icon_container{
    @include flex;
    justify-content: space-around;
    background:#05006A;
    color: white !important;
    padding: 50px;
    padding-bottom:200px;

    .Employee_Icon_Classes{
        font-size:80px !important;
    }
}