
.paper{
    padding: 20px;
    height:auto;
    width: 280px;
    margin:100px auto;
}
.login_logo{
    text-align: center;
}
.login_input_email{
     margin-top:20px;
     text-align: center;


    .login_textfield{
        // input{
        //     height:5px;
        // }
        
        width: 100% !important;

        ::placeholder{
            color:#392fff !important;
        }
    
        label {
            color:#392fff  !important;
        }
    
    }
};

.login_input_password{
    margin-top:30px;

    .login_textfield{
        // input{
        //     height:5px;
        // }
        
        width: 100% !important;
    
        ::placeholder{
            color:#392fff !important;
        }
    
        label {
            color: #392fff !important;
        }
    
    }
}


.login_Botton_container{
    margin-top:50px;

    .login_Button{
        width:100% !important;
        color: white !important;
        background:#392fff !important;
    }

 
}

.progress_circular{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top:20px;
}




.login_register{
    text-align: center;
    margin-top:50px;

    .dont_have{
      color: rgba(32, 32, 32, 0.452);
      font-size:11px;
    }

    .login_register{
        cursor: pointer;
        color:#392fff !important;
        font-weight: bolder;
        font-size:11px;
    }
}

.forgotpassword{
    cursor: pointer;
    color:#392fff  !important;
    font-weight: bolder;
    font-size:11px;
}


