@import "../../scssMixin/mixin.scss";

.container_Four{
     background-image: url(../../images/hiow.png);
     height:500px;
     background-repeat: no-repeat;
     background-position: center;
     background-size:cover;
     margin-top:20px;

     .How_c{
         @include flex;
         justify-content: center;
         align-items: center;
        
         
        .How_c_sub{
             margin-top: 120px;
                
            .How{
                color: white;
                font-size:40px;
                font-weight: bolder;
                word-spacing: 5px;
                letter-spacing:2px;
            }
        }
     }

    .order_container{
        @include flex;
        justify-content:center;
        align-content: center;
        text-align: center;
        margin-top:20px;

        .order_list_container{
            text-align: center;
            ul{
                li{
                  color: white;
                  letter-spacing: 2px;
                  word-spacing: 2px;
                  line-height:0.6cm;
                  text-align: center;
                //   list-style: none;
                }
            }
        }

        .Register_body{
            margin-top:30px;
            text-align: center;
        }
              
       
        .Register_body_two{
            background:#392fff;
            color: white;
            padding:10px;
            padding-left:30px;
            padding-right: 30px;
            border-radius:5px;
            font-size: small;
            cursor: pointer;
            font-weight: bolder;
            transition: 0.5s;

            &:hover{
                background: white;
                color: #392fff;
                transition: 0.5s;
                
            }
        }

     
    }

}

// Responsiveness 

@include MQ(1000px){
    .container_Four{
       text-align: center !important;
       margin-top: 0px !important;
    }

    .order_list_container{
        margin-left:0% !important;
        text-align: center !important;
        ul{
            li{
              color: white;
              letter-spacing: 0px !important;
              word-spacing: 0px !important;
              line-height:0.6cm;
              text-align: center !important;
            }
        }
    }
    
    .order_container{
        @include flex;
        justify-content:center;
        align-content: center;
        
        margin-top:20px;
        margin-left:0px !important;
    }

    .Register_body{
        margin-top:30px;
        text-align: center;
        margin-left: 0px !important;
        
    }

    .How_c_sub{
        margin-top: 100px !important;
    }

}