@import "../../scssMixin/mixin.scss";

.Emp_container_three{
  @include flex;
  justify-content:space-around;
//   background-image: url(../../images/desk-01.jpg);
//   background-repeat: no-repeat;
//   background-position: 50% 40%;
//   background-size:cover;
  margin-top:50px;
  margin-bottom:100px;


    .Emp_manwithphone_container{
         position: relative;
    

         .Emp_color_box_one{
             position:absolute;
             height: 100px;
             width: 100px;
             background: #2fdfff;
             left:-50px;
             top:120px;
             border-radius:20px;
             box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                        -webkit-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                        -moz-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);

         }
         
         .Emp_color_box_two{
            position:absolute;
            height: 80px;
            width: 80px;
            background: #392fff;
            right: -50px;
            top:300px;
            border-radius:20px;
            box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
            -webkit-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
            -moz-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
         }

        .Emp_Man{
           margin-top:50px;
           width:300px;
           height:400px;
           background-image: url(../../images/employer.jpg);
           background-size:cover;
           background-repeat:no-repeat;
           border-radius:15px;

          //  img{
          //      border-radius:50px;
          //      height:100%;
          //      width:100%;
          //  }

        }
}
  .Emp_H_P_Loerm_contanier{
       
        @include flex;
        flex-direction: column;
        align-content: center;
        line-height:0.6cm;

        .Emp_H_P_Loerm{
            margin-top:50px;
        
            .Emp_Lorem_H{
                font-size:40px;
                color: rgb(17, 17, 66);
            }
            
            .Emp_Lorem_p{
                word-spacing:5px;
                color: rgb(17, 17, 66);
                font-weight:400;
            }
        }
        
        .Emp_learn_more_C{
            @include flex;
            justify-content: flex-end;
            margin-top: 50px;
            margin-right: 20px;

            .Emp_learn_more_two{
                background:rgb(94, 94, 170);
                color: white;
                padding:20px;
                padding-left:30px;
                padding-right: 50px;
                border-radius:30px;
                cursor: pointer;
                font-weight:400;
                position: relative;
                font-size: small;

                .Emp_Arrow_D{
                  position: absolute;
                  font-size: 40px !important;
                  top: 9px !important;
                }
            }
        }
     }
}

.video_container{
  margin-bottom:100px;
  @include flex;
  justify-content:space-around;
  z-index: 2;
  line-height:0.7cm;

  

  .Ve_Lorem_H{
    font-size:40px;
    color: rgb(17, 17, 66);
    z-index: 2 !important;
  }

  .ve_Lorem_p{
    word-spacing:5px;
    color: rgb(17, 17, 66);
    font-weight:400;
    z-index: 2 !important;
  }
 
  .video-js{
    border-radius:20px;
    z-index: 2;
  }


  .vjs-poster{
    border-radius:20px;
    width:100%;
  }

  .video-js .vjs-button{
    border-radius:20px;
  }

  .video-js .vjs-button-big-player{
    background:#2fdfff;
  }
}

.kredit_container{
  z-index:-99 !important;
  display: flex;
  justify-content: center;
  position: relative;

  .kredit{
    top:-400px;
    padding-left: 0px;
    margin-left: 0px;
    font-size:35.0vw;
    width:100vw;
    color: #2fdfff;
    opacity: 0.4;
    font-weight: bold;
    position: absolute;
    left:-37px;
    right:0px;
   
  }

}

.time_convenient{
  text-align: center;
  color: rgb(17, 17, 66);
  font-weight:400;
  margin-bottom:30px;
  margin-top:150px;
}

.Emp_Register{

  text-align: center;
  margin-top:30px;
  margin-bottom:50px;

  .Emp_Register_two{
    background:#392fff;
    color: white;
    padding:10px;
    padding-left:30px;
    padding-right: 30px;
    border-radius:5px;
    font-size: small;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.5s;
    border:1px solid #392fff;

    &:hover{
      background: white;
      color: #392fff;
      transition: 0.5s;
    }
  }
}
