@import "../../scssMixin/mixin.scss";



.ADH_container{
    @include flex;
    justify-content: space-between;
    align-items: center;

    h2{
        color:#05006A;
    }
}



.ADH_Grid_container{
    display: grid;
    gap:10px;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(4,minmax(150,auto));

}


.ADH_content_one{
    grid-column:1/13;
    grid-row:1/13;
    background:white !important;
    height:500px;
    border-radius:5px;

}