@import "../../../scssMixin/mixin.scss";

.dashboardlayout_container{
    background:#dee3de ;
    width:100vw;
    height:100vh;
    @include flex; 

    .DBL_dashboardnav_container{
        width: 20vw;
        transition: inherit;
    }

    .DBL_children_container{
        margin-top:90px;
        margin-left:30px;
        margin-right:30px;
        margin-bottom:60px;
        width: 80vw;
    }
}

.DBL_paper{
    padding: 20px;
    height:50vh;
    width: 280px;
    margin:20px auto;

    .DBL_logo{
        text-align: center;
    }
}

.DBL_Botton_container{
    margin-top:50px;

    .DBL_Button{
        width:100% !important;
        color: white !important;
        background:rgb(94, 94, 170) !important;
      
    }
}

