@import "../../../scssMixin/mixin.scss";

.DBN_container{
    background: rgba(36, 36, 35, 0.452);
    width:100vw;
    height:100vh;
    position: relative;

    .DBN_options_container{
        height: 100vh;
        width: 20vw;
        background: white;
        position: fixed;

        .DBN_Rapidone{
             @include flex;
             justify-content: center;
             align-items: center;
             margin-top:30px;
             padding:20px;
        }
         
        .DBN_icon_container{

          margin-top: 30px;

            .DBN_icon_container_select{
                @include flex;
                justify-content: center;
                align-items: center;
                margin-top:10px;
                cursor: pointer;
                padding:10px;
                border-radius:10px;
                width:200px;
                margin-left:20px;

              .DBN_c{
                @include flex;
                justify-content: center;
                align-items: center;
                padding-right:50px;
              }
            }
            
            .DBN_icon_container_select:hover{
                background:rgb(17, 17, 66) !important;
                color:#2fdfff !important;
                padding:10px;
                transition:0.3s;
            }
               
            .DashboardIcon{
                padding-right:20px !important;
            }
            
            .CallReceivedIcon{
                padding-right:20px !important;
            }

            .RedeemIcon{
                padding-right:20px !important;
            }

            .PersonIcon{
                padding-right:20px !important;
            }
       }

      .DBN_logout_container{
          @include flex;
          justify-content:center;
          align-items:flex-end;
          margin-top: 150px;

          .DBN_HelpOutline_container{
            @include flex;
            justify-content: center;
            align-items: center;
            width:150px;
            padding:10px;
            margin-left:20px;
            cursor: pointer;
            margin-top:10px;
          }

          .DBN_HelpOutlineIcon_container{
            @include flex;
            justify-content: center;
            align-items: center;
            padding-right:50px;
            color: black !important;
            opacity: 0.5;

                .HelpOutlineIcon{
                    padding-right:20px !important;
                }
            }

            .DBN_HelpOutlineIcon_container:hover{
                opacity: 0.9;
                transition:0.3s;
            }


          .DBN_ExitToApp_container{
            @include flex;
            justify-content: center;
            align-items: center;
            width:150px;
            padding:10px;
            margin-left:20px;
            cursor: pointer;
            margin-top:10px;
          }

          .DBN_ExitToAppIcon_container{
            @include flex;
            justify-content: center;
            align-items: center;
            padding-right:50px;
            color:black !important;
            opacity: 0.5;

            .ExitToAppIcon{
                padding-right:20px !important;
            }
          }

          .DBN_ExitToAppIcon_container:hover{
            opacity: 0.9;
            transition:0.3s;
          }
      }

    }


}