@import "../../../scssMixin/mixin.scss";

.dashboardlayout_container{
    background: rgba(36, 36, 35, 0.452);
    width:100vw;
    height:100vh;
    @include flex; 

    .DBL_dashboardnav_container{
        width: 20vw;
        transition: inherit;
    }

    .DBL_children_container{
        margin-top:90px;
        margin-left:30px;
        margin-right:30px;
        margin-bottom:60px;
        width: 80vw;
    }
}