@import "../../../scssMixin/mixin.scss";

.dashboardlayout_container{
    background:#dee3de ;
    width:100%;
    height:100%;
    min-height: 100vh;
    @include flex; 

    .DBL_dashboardnav_container{
        width: 20vw;
        transition: inherit;
        z-index: 3;
    }

    .DBL_children_container{
        margin-top:90px;
        margin-left:20px;
        margin-right:20px;
        margin-bottom:60px;
        width: 80vw;
        z-index: 1;
    }
}

.DBL_paper{
    padding: 20px;
    height:50vh;
    width: 280px;
    margin:20px auto;

    .DBL_logo{
        text-align: center;
    }
}

.session{
    text-align: center;
    color: #392fff;
}

.DBL_Botton_container{
    margin-top:50px;

    .DBL_Button{
        width:100% !important;
        color: white !important;
        background:#392fff !important;
      
    }
}


@include MQ(1227px){
    .DBL_children_container{
        width:100vw !important;
    }

    .DBL_dashboardnav_container{
        width:0vw !important;
    }
}

