@import "../../scssMixin/mixin.scss";

.Aboutus_container{
    text-align: center;
    color: rgb(17, 17, 66);
    font-weight:400;
    margin-bottom:30px;
    margin-top:80px;
    line-height:0.6cm;
}

.Aboutus_container_mobile{
    display:none;
}

.Culture_container{
    @include flex;
    justify-content:space-around;
    margin-top:50px;
    margin-bottom:100px;
    
    .Culture_picture_container{
    
        position: relative;


        .Culture_color_box_one{
            position:absolute;
            height: 100px;
            width: 100px;
            background: #2fdfff;
            left:-50px;
            top:120px;
            border-radius:20px;
            box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                       -webkit-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
                       -moz-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
        }

        .Culture_color_box_two{
            position:absolute;
            height: 80px;
            width: 80px;
            background: #392fff;
            right: -50px;
            top:300px;
            border-radius:20px;
            box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
            -webkit-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
            -moz-box-shadow: 4px 10px 75px -6px rgba(0,0,0,0.78);
        }
       
        .culture_picture{
            margin-top:50px;
            width:300px;
            height:400px;
            background-image: url(../../images/aboutus.jpg);
            background-size:cover;
            background-repeat:no-repeat;
            border-radius:15px;
        }


    }

    

    .culture{
        margin-left:-100px;
        margin-top:70px;
        color: rgb(17, 17, 66);
        font-weight:400;
        line-height:0.6cm;
    }

    .culture_mobile{
        display: none;
    }

  

}

// Responsive for text

@include MQ(700px){
    .Aboutus_container{
        display: none;
    }

    .Aboutus_container_mobile{
        display: block !important;
        padding: 10px;
        text-align: center;
        color: rgb(17, 17, 66);
        font-weight:400;
        margin-bottom:30px;
        margin-top:80px;
        line-height:0.6cm;
    }
}

// Responsive 

@include MQ(1050px){

    .Culture_container{
        flex-direction: column !important;
        align-items: center;
        justify-content: none !important;
    }

    .culture{
        display: none;
    }

    .culture_mobile{
        display: block !important;
        text-align: center;
        padding: 20px;
        margin-top:70px;
        color: rgb(17, 17, 66);
        font-weight:400;
        line-height:0.6cm;
    }
}

