@import "../../scssMixin/mixin.scss";

.Request_container{
    @include flex;
    justify-content: space-between;
    align-items: center;

    h2{
        color:#05006A;
    }
}


.RQ_Grid_container{
    display: grid;
    gap:10px;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(4,minmax(150,auto));

    .RQ_content_one{
        grid-column: 1/13;
        grid-row:1/2;
        background:#05006A !important;
        height:120px;
        border-radius:5px;


        .RQ_Header{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    
        .RQ_Header_content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top:20px;
        }
    
        .RQ_Numbers{
            color:#2fdfff;
        }
    
        .RQ_Numbers_one{
            color:white;
            font-size:40px;
            font-weight: bolder;
        }
    
        .RQ_Header_content_two{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top:10px;
            border-left: 1px solid white;
            padding-right:30px;
            padding-left:20px;
        }
    
        .RQ_Total{
            color:#2fdfff;
        }
        
        .RQ_Total_one{
            color:white;
            font-size:40px;
            font-weight: bolder;
        }
    
        .RQ_Header_content_one{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top:10px;
            border-left: 1px solid white;
            padding-left:20px;
        }
    
        .RQ_Avaluable{
            color:#2fdfff;
        }
        
        .RQ_Avaluable_one{
            color:white;
            font-weight: bolder;
            font-size:20px;
        }
    
        .RQ_Header_Button{
            width:100% !important;
            color: rgb(17, 17, 66) !important;
            background:#2fdfff !important;
            font-weight: bolder;
            margin-top:10px !important;
            
        }
    
        .RQ_Number_Days_container{
            @include flex;
            flex-direction:column;
            justify-content:space-around !important;
            justify-content: center;
            
           
            
    
            .RQ_Days_container{
                @include flex;
                justify-content: space-between !important;
                justify-content: center;
                margin-top:14px !important;
                border-left: 1px solid white;
                
               .RQ_Icon{
                 color:#2fdfff !important;
                 margin-top:5px !important;
               }
    
                .RQ_Number_of_days{
                    color:#2fdfff !important;
                    margin-right:50px !important;
                    padding-left: 20px;
                }
            }
        
    
            .RQ_Days_container_two{
                @include flex;
                justify-content: space-between !important;
                justify-content: center;
                border-left: 1px solid white;
                
               .RQ_Figures{
                color:white !important;
                font-size:40px;
                margin-right:50px !important;
                font-weight: bolder;
                padding-left: 20px;
               }
    
                .RQ_Date{
                  color:white !important;
                  margin-right:-10px !important;
                  margin-top:5px;
                }
            
                
            }
        }
    }

    
    

    .RQ_content_two{
        grid-column:1/13;
        grid-row:2/13;
        background:white !important;
        height:320px;
        border-radius:5px;

    }
}

.RQ_Grid_container_mobile{
    display: none;
}


@include MQ(915px){
    .RQ_Grid_container{
        display: none;
    }

    .RQ_Grid_container_mobile{
        display: grid !important;
        gap:10px;

        .RQ_content_one_mobile{
            grid-column: 1/13;
            grid-row:1/2;
            background:#05006A !important;
            height:120px;
            border-radius:5px;
       
        }

        .RQ_content_two_mobile{
            grid-column: 1/6;
            grid-row:2/3;
            background:#05006A !important;
            height:120px;
            border-radius:5px;
       
        }

        .RQ_content_three_mobile{
            grid-column: 6/13;
            grid-row:2/3;
            background:#05006A !important;
            height:120px;
            border-radius:5px;
       
        }

        .RQ_content_four_mobile{
            grid-column: 1/13;
            grid-row:3/4;
            background:#05006A !important;
            height:120px;
            border-radius:5px;
       
        }

        .RQ_content_five_mobile{
            grid-column: 1/13;
            grid-row:4/5;
            background:white !important;
            height:220px;
            border-radius:5px;
       
        }

    }
}